.box {
    margin-top: 15px;
}
.box-hd {
    height: 60px;
    line-height: 60px;
}
.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}
.box-hd a {
    float: right;
    color: #a5a5a5;
    font-size: 12px;
    margin-right: 30px;
}
.box-bd ul li  {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    width: 228px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.box-bd {
    width: 1215px;
}
.box-bd li img {
    width: 228px;
    height: 130px;
}
.box-bd li h4 {
    margin: 10px;
    font-size: 14px;
    color: #050505;
    font-weight: normal;
}
.box-bd li p {
    margin: 10px;
    font-size: 12px;
    color: #999;
}
