.footer {
    height: 385px;
    padding-top: 30px;
    background-color: #fff;
}
.copyright p {
    font-size: 12px;
    color: #666666;
    margin: 20px 0 15px 0;
}
.copyright a {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #004aff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #004aff;
}
.copyright img {
    width: 200px;
}
.copyright {
    float: left;
}
.links {
    float: right;
}
.links dl {
    float: right;
    margin-left:100px ;
}
.links dt {
    font-size: 16px;
    color: #ccc;
    height: 35px;
}
.links dd {
    font-size: 12px;
    color: #333;
}